<!-- USING LABEL ELEMENT -->

<!-- input type: text, file, password (label before) -->

{% macro inputTextRef(id, accname) %}
<div>
  <label for="{{ id }}">{{ accname }}</label>
  <input type="text" id="{{ id }}">
</div>
{% endmacro %}

{% macro inputTextEnc(accname) %}
<div>
  <label>{{ accname }}
    <input type="text">
  </label>
</div>
{% endmacro %}

{% macro inputFileRef(id, accname) %}
<div>
  <label for="{{ id }}" class="above">
    {{ accname }}
  </label>
  <input type="file" id="{{ id }}">
</div>
{% endmacro %}

{% macro inputFileEnc(accname) %}
<div>
  <label>
    <div>{{ accname }}</div>
    <input type="file">
  </label>
</div>
{% endmacro %}

{% macro inputPasswordRef(id, accname) %}
<div>
  <label for="{{ id }}">{{ accname }}</label>
  <input type="password" id="{{ id }}">
</div>
{% endmacro %}

{% macro inputPasswordEnc(accname) %}
<div>
  <label>{{ accname }}
    <input type="password">
  </label>
</div>
{% endmacro %}

{% macro inputNumberRef(id, accname) %}
<div>
  <label for="{{ id }}">{{ accname }}</label>
  <input type="number" id="{{ id }}">
</div>
{% endmacro %}

{% macro inputNumberEnc(accname) %}
<div>
  <label>{{ accname }}
    <input type="number">
  </label>
</div>
{% endmacro %}

{% macro inputRangeRef(id, accname) %}
<div>
  <label for="{{ id }}" class="above">
    {{ accname }}
  </label>
  <input type="range" id="{{ id }}">
</div>
{% endmacro %}

{% macro inputRangeEnc(accname) %}
<div>
  <label>
    <div>{{ accname }}</div>
    <input type="range">
  </label>
</div>
{% endmacro %}

<!-- input type: checkbox, radio (label after) -->

{% macro inputCheckboxRef(id, accname) %}
<div>
  <input type="checkbox" id="{{ id }}">
  <label for="{{ id }}">
    {{ accname }}
  </label>
</div>
{% endmacro %}

{% macro inputCheckboxEnc(accname) %}
<div>
  <label>
    <input type="checkbox">
    {{ accname }}
  </label>
</div>
{% endmacro %}

{% macro inputRadioRef(id, accname) %}
<div>
  <input type="radio" id="{{ id }}">
  <label for="{{ id }}">
    {{ accname }}
  </label>
</div>
{% endmacro %}

{% macro inputRadioEnc(accname) %}
<div>
  <label>
    <input type="radio">
    {{ accname }}
  </label>
</div>
{% endmacro %}

<!-- textarea -->

{% macro textareaRef(id, accname) %}
<div>
  <label for="{{ id }}" class="above">
    {{ accname }}
  </label>
  <textarea id="{{ id }}"></textarea>
</div>
{% endmacro %}

{% macro textareaEnc(accname) %}
<div>
  <label>
    <div>{{ accname }}</div>
    <textarea></textarea>
  </label>
</div>
{% endmacro %}

<!-- select -->

{% macro selectRef(id, accname) %}
<div>
  <label for="{{ id }}" class="above">
    {{ accname }}
  </label>
  <select id="{{ id }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{% endmacro %}

{% macro selectEnc(accname) %}
<div>
  <label>
    <div>{{ accname }}</div>
    <select>
      <option value="opt-1">Sunny</option>
      <option value="opt-2">Cloudy</option>
      <option value="opt-3">Rain</option>
      <option value="opt-4">Snow</option>
    </select>
  </label>
</div>
{% endmacro %}

<!-- USING VALUE ATTRIBUTE -->

<!-- input type: button, submit, reset -->

{% macro inputButtonVal(accname) %}
<div>
  <input type="button" value="{{ accname }}"/>
</div>
{% endmacro %}

{% macro inputSubmitVal(accname) %}
<div>
  <input type="submit" value="{{ accname }}"/>
</div>
{% endmacro %}

{% macro inputResetVal(accname) %}
<div>
  <input type="reset" value="{{ accname }}"/>
</div>
{% endmacro %}

<!-- USING ALT ATTRIBUTE -->

<!-- input type: image -->

{% macro inputImageAlt(accname) %}
<div>
  <input type="image" alt="{{ accname }}"/>
</div>
{% endmacro %}

<!-- USING ELEMENT CONTENT -->

<!-- button -->

{% macro buttonContent(accname) %}
<div>
  <button>{{ accname }}</button>
</div>
{% endmacro %}
