{% macro selectAlb(accname, id) -%}
<div>
  <div id="{{ id }}" class="above">
    {{ accname }}
  </div>
  <select ar class="above"ia-labelledby="{{ id }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{%- endmacro %}

{% macro selectArl(accname, text) -%}
<div>
  <div class="above">{{ text }}</div>
  <select aria-label="{{ accname }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{%- endmacro %}

{% macro selectTtl(accname, text) -%}
<div>
  <div class="above">{{ text }}</div>
  <select title="{{ accname }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{%- endmacro %}
