{% macro inputTextAlb(accname, id) -%}
<div>
  <span id="{{ id }}">{{ accname }}</span>
  <input type="text"
         aria-labelledby="{{ id }}">
</div>
{%- endmacro %}

{% macro inputTextArl(accname, text) -%}
<div>
  {{ text }}
  <input type="text"
         aria-label="{{ accname }}">
</div>
{%- endmacro %}

{% macro inputTextPlh(accname, text) -%}
<div>
  {{ text }}
  <input type="text"
         placeholder="{{ accname }}">
</div>
{%- endmacro %}

{% macro inputTextRpl(accname, plh, id) -%}
<div>
  <label for="{{ id }}">{{ accname }}</label>
  <input type="text" id="{{ id }}"
         placeholder="{{ plh }}">
</div>
{%- endmacro %}

{% macro inputTextTtl(accname, text) -%}
<div>{{ text }}
  <input type="text" title="{{ accname }}">
</div>
{%- endmacro %}
