{% macro selectAlb(accname, id) -%}
<div>
  <span id="{{ id }}">
    {{ accname }}
  </span>
  <select aria-labelledby="{{ id }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{%- endmacro %}

{% macro selectArl(accname, text) -%}
<div>
  <span>{{ text }} </span>
  <select aria-label="{{ accname }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{%- endmacro %}

{% macro selectTtl(accname, text) -%}
<div>
  <span>{{ text }} </span>
  <select title="{{ accname }}">
    <option value="opt-1">Sunny</option>
    <option value="opt-2">Cloudy</option>
    <option value="opt-3">Rain</option>
    <option value="opt-4">Snow</option>
  </select>
</div>
{%- endmacro %}
