{% extends "base.html" %}
{% import "macros-common.html" as common %}
{% import "macros-form-labels.html" as macros %}
{% set title = "Examples: Labeling Form Controls Using Native Semantics" %}

{% block content %}
    <h2 id="group-1">Group 1: Using the <code>label</code> element</h2>
    <h3>Examples for: <code>input type="text|file|password|number|range|checkbox|radio",<br>
    textarea, select, meter, output, progress</code></h3>

    <table aria-labelledby="group-1">
      <thead>
        <tr>
          <th style="width: 30%">Element/Test</th>
          <th style="width: 30%">Expected Results</th>
          <th style="width: 50em">Test Source Code</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="test-box">
            <code class="element">input[type="text"]</code>
            {{ macros.inputTextRef("c1", "Phone:") }}
          </td>
          <td>
            {{ common.infoList("Phone:", "label reference", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextRef("c1", "Phone:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="text"]</code>
            {{ macros.inputTextEnc("Phone:") }}
          </td>
          <td>
            {{ common.infoList("Phone:", "label encapsulation", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextEnc("Phone:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="file"]</code>
            {{ macros.inputFileRef("c2", "File to upload:") }}
          </td>
          <td>
            {{ common.infoList("File to upload:", "label reference", "none") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputFileRef("c2", "File to upload:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="file"]</code>
            {{ macros.inputFileEnc("File to upload:") }}
          </td>
          <td>
            {{ common.infoList("File to upload:", "label encapsulation", "none") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputFileEnc("File to upload:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="password"]</code>
            {{ macros.inputPasswordRef("c3", "Password:") }}
          </td>
          <td>
            {{ common.infoList("Password:", "label reference", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputPasswordRef("c3", "Password:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="password"]</code>
            {{ macros.inputPasswordEnc("Password:") }}
          </td>
          <td>
            {{ common.infoList("Password:", "label encapsulation", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputPasswordEnc("Password:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="number"]</code>
            {{ macros.inputNumberRef("c4", "Commits:") }}
          </td>
          <td>
            {{ common.infoList("Commits:", "label reference", "spinbutton") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputNumberRef("c4", "Commits:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="number"]</code>
            {{ macros.inputNumberEnc("Commits:") }}
          </td>
          <td>
            {{ common.infoList("Commits:", "label encapsulation", "spinbutton") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputNumberEnc("Commits:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="range"]</code>
            {{ macros.inputRangeRef("c5", "Saturation:") }}
          </td>
          <td>
            {{ common.infoList("Saturation:", "label reference", "slider") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputRangeRef("c5", "Saturation:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="range"]</code>
            {{ macros.inputRangeEnc("Saturation:") }}
          </td>
          <td>
            {{ common.infoList("Saturation:", "label encapsulation", "slider") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputRangeEnc("Saturation:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="checkbox"]</code>
            {{ macros.inputCheckboxRef("c6", "Include library") }}
          </td>
          <td>
            {{ common.infoList("Include library", "label reference", "checkbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputCheckboxRef("c6", "Include library") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="checkbox"]</code>
            {{ macros.inputCheckboxEnc("Include library") }}
          </td>
          <td>
            {{ common.infoList("Include library", "label encapsulation", "checkbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputCheckboxEnc("Include library") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="radio"]</code>
            {{ macros.inputRadioRef("c7", "Four-wheel drive") }}
          </td>
          <td>
            {{ common.infoList("Four-wheel drive", "label reference", "radio") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputRadioRef("c7", "Four-wheel drive") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="radio"]</code>
            {{ macros.inputRadioEnc("Four-wheel drive") }}
          </td>
          <td>
            {{ common.infoList("Four-wheel drive", "label encapsulation", "radio") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputRadioEnc("Four-wheel drive") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">textarea</code>
            {{ macros.textareaRef("c8", "Comment:") }}
          </td>
          <td>
            {{ common.infoList("Comment:", "label reference", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.textareaRef("c8", "Comment:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">textarea</code>
            {{ macros.textareaEnc("Comment:") }}
          </td>
          <td>
            {{ common.infoList("Comment:", "label encapsulation", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.textareaEnc("Comment:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">select</code>
            {{ macros.selectRef("c9", "Weather condition:") }}
          </td>
          <td>
            {{ common.infoList("Weather condition:", "label reference", "listbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.selectRef("c9", "Weather condition:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">select</code>
            {{ macros.selectEnc("Weather condition:") }}
          </td>
          <td>
            {{ common.infoList("Weather condition:", "label encapsulation", "listbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.selectEnc("Weather condition:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">meter</code>
            {{ macros.meterRef("c10", "Level:") }}
          </td>
          <td>
            {{ common.infoList("Level:", "label reference", "progressbar") }}
          </td>
          <td>
            <pre class="src">{{ macros.meterRef("c10", "Level:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">meter</code>
            {{ macros.meterEnc("Level:") }}
          </td>
          <td>
            {{ common.infoList("Level:", "label encapsulation", "progressbar") }}
          </td>
          <td>
            <pre class="src">{{ macros.meterEnc("Level:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">output</code>
            {{ macros.outputRef("c11", "Result:") }}
          </td>
          <td>
            {{ common.infoList("Result:", "label reference", "status") }}
          </td>
          <td>
            <pre class="src">{{ macros.outputRef("c11", "Result:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">output</code>
            {{ macros.outputEnc("Result:") }}
          </td>
          <td>
            {{ common.infoList("Result:", "label encapsulation", "status") }}
          </td>
          <td>
            <pre class="src">{{ macros.outputEnc("Result:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">progress</code>
            {{ macros.progressRef("c12", "Percent complete:") }}
          </td>
          <td>
            {{ common.infoList("Percent complete:", "label reference", "progressbar") }}
          </td>
          <td>
            <pre class="src">{{ macros.progressRef("c12", "Percent complete:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">progress</code>
            {{ macros.progressEnc("Percent complete:") }}
          </td>
          <td>
            {{ common.infoList("Percent complete:", "label encapsulation", "progressbar") }}
          </td>
          <td>
            <pre class="src">{{ macros.progressEnc("Percent complete:") | escape }}</pre>
          </td>
        </tr>

      </tbody>
    </table>

    <h2 id="group-2">Group 2: Using the <code>value</code> attribute</h2>
    <h3>Form controls: <code>input type="button|submit|reset"</code></h3>

    <table aria-labelledby="group-2">
      <thead>
        <tr>
          <th style="width: 30%">Element/Test</th>
          <th style="width: 30%">Expected Results</th>
          <th style="width: 50em">Test Source Code</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="test-box">
            <code class="element">input[type="button"]</code>
            {{ macros.inputButtonVal("Launch balloons") }}
          </td>
          <td>
            {{ common.infoList("Launch balloons", "value", "button") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputButtonVal("Launch balloons") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="submit"]</code>
            {{ macros.inputSubmitVal("Create account") }}
          </td>
          <td>
            {{ common.infoList("Create account", "value", "button") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputSubmitVal("Create account") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td class="test-box">
            <code class="element">input[type="reset"]</code>
            {{ macros.inputResetVal("Reset all fields") }}
          </td>
          <td>
            {{ common.infoList("Reset all fields", "value", "button") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputResetVal("Reset all fields") | escape }}</pre>
          </td>
        </tr>

      </tbody>
    </table>

    <h2 id="group-3">Group 3: Using the <code>alt</code> attribute</h2>
    <h3>Form controls: <code>input type="image"</code></h3>

    <table aria-labelledby="group-3">
      <thead>
        <tr>
          <th style="width: 30%">Element/Test</th>
          <th style="width: 30%">Expected Results</th>
          <th style="width: 50em">Test Source Code</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="test-box">
            <code class="element">input[type="image"]</code>
            {{ macros.inputImageAlt("Launch balloons") }}
          </td>
          <td>
            {{ common.infoList("Launch balloons", "alt", "button") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputImageAlt("Launch balloons") | escape }}</pre>
          </td>
        </tr>

      </tbody>
    </table>

    <h2 id="group-4">Group 4: Using element content</h2>
    <h3>Form controls: <code>button</code> element</h3>

    <table aria-labelledby="group-4">
      <thead>
        <tr>
          <th style="width: 30%">Element/Test</th>
          <th style="width: 30%">Expected Results</th>
          <th style="width: 50em">Test Source Code</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="test-box">
            <code class="element">button</code>
            {{ macros.buttonContent("Launch balloons") }}
          </td>
          <td>
            {{ common.infoList("Launch balloons", "contents", "button") }}
          </td>
          <td>
            <pre class="src">{{ macros.buttonContent("Launch balloons") | escape }}</pre>
          </td>
        </tr>

      </tbody>
    </table>

{% endblock %}
