{% extends "base.html" %}
{% import "macros-form-labels.html" as macros %}
{% set title = "Examples: Labeling Form Controls Using Native Semantics" %}

{% macro thead() -%}
<thead>
<tr>
  <th style="width: 30%">Element/Test</th>
  <th style="width: 30%">Expected Results</th>
  <th style="width: 50em">Test Source Code</th>
</tr>
</thead>
{%- endmacro %}

{% macro row(element, accname, from, role, id) -%}
<tr>
  <td class="test-box">
    <code class="element">{{ element }}</code>
{{ caller(accname, id) }}
  </td>
  <td>
    <ul>
      <li>ACCNAME: &quot;{{ accname }}&quot;</li>
      <li>FROM: {{ from }}</li>
      <li>ROLE: {{ role }}</li>
    </ul>
  </td>
  <td>
    <pre class="src">{{ caller(accname, id) | escape }}</pre>
  </td>
</tr>
{%- endmacro %}

{% block content %}
<h2 id="group-1">Group 1: Using the <code>label</code> element</h2>
<h3>Form controls: <code>input[type="text|file|password|number|range|checkbox|radio"], textarea, select, meter, output, progress</code></h3>

<table aria-labelledby="group-1">
{{ thead() }}
<tbody>
  {% call(accname, id) row('input[type="text"]', "Phone:", "label reference", "textbox", "c1") -%}
    {{ macros.inputTextRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="text"]', "Phone:", "label encapsulation", "textbox") -%}
    {{ macros.inputTextEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('input[type="file"]', "File to upload:", "label reference", "none", "c2") -%}
    {{ macros.inputFileRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="file"]', "File to upload:", "label encapsulation", "none") -%}
    {{ macros.inputFileEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('input[type="password"]', "Password:", "label reference", "textbox", "c3") -%}
    {{ macros.inputPasswordRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="password"]', "Password:", "label encapsulation", "textbox") -%}
    {{ macros.inputPasswordEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('input[type="number"]', "Commits:", "label reference", "spinbutton", "c4") -%}
    {{ macros.inputNumberRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="number"]', "Commits:", "label encapsulation", "spinbutton") -%}
    {{ macros.inputNumberEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('input[type="range"]', "Saturation:", "label reference", "slider", "c5") -%}
    {{ macros.inputRangeRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="range"]', "Saturation:", "label encapsulation", "slider") -%}
    {{ macros.inputRangeEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('input[type="checkbox"]', "Include library", "label reference", "checkbox", "c6") -%}
    {{ macros.inputCheckboxRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="checkbox"]', "Include library", "label encapsulation", "checkbox") -%}
    {{ macros.inputCheckboxEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('input[type="radio"]', "Four-wheel drive", "label reference", "radio", "c7") -%}
    {{ macros.inputRadioRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('input[type="radio"]', "Four-wheel drive", "label encapsulation", "radio") -%}
    {{ macros.inputRadioEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('textarea', "Comment:", "label reference", "textbox", "c8") -%}
    {{ macros.textareaRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('textarea', "Comment:", "label encapsulation", "textbox") -%}
    {{ macros.textareaEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('select', "Weather condition:", "label reference", "listbox", "c9") -%}
    {{ macros.selectRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('select', "Weather condition:", "label encapsulation", "listbox") -%}
    {{ macros.selectEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('meter', "Level:", "label reference", "progressbar", "c10") -%}
    {{ macros.meterRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('meter', "Level:", "label encapsulation", "progressbar") -%}
    {{ macros.meterEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('output', "Result:", "label reference", "status", "c11") -%}
    {{ macros.outputRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('output', "Result:", "label encapsulation", "status") -%}
    {{ macros.outputEnc(accname) }}
  {%- endcall %}

  {% call(accname, id) row('progress', "Percent complete:", "label reference", "progressbar", "c12") -%}
    {{ macros.progressRef(accname, id) }}
  {%- endcall %}

  {% call(accname) row('progress', "Percent complete:", "label encapsulation", "progressbar") -%}
    {{ macros.progressEnc(accname) }}
  {%- endcall %}

</tbody>
</table>

<h2 id="group-2">Group 2: Using the <code>value</code> attribute</h2>
<h3>Form controls: <code>input[type="button|submit|reset"]</code></h3>

<table aria-labelledby="group-2">
{{ thead() }}
<tbody>
  {% call(accname) row('input[type="button"]', "Launch balloons", "value", "button") -%}
    {{ macros.inputButtonVal(accname) }}
  {%- endcall %}

  {% call(accname) row('input[type="submit"]', "Create account", "value", "button") -%}
    {{ macros.inputSubmitVal(accname) }}
  {%- endcall %}

  {% call(accname) row('input[type="reset"]', "Reset all fields", "value", "button") -%}
    {{ macros.inputResetVal(accname) }}
  {%- endcall %}

</tbody>
</table>

<h2 id="group-3">Group 3: Using the <code>alt</code> attribute</h2>
<h3>Form controls: <code>input[type="image"]</code></h3>

<table aria-labelledby="group-3">
{{ thead() }}
<tbody>
  {% call(accname) row('input[type="image"]', "Launch balloons", "alt", "button") -%}
    {{ macros.inputImageAlt(accname) }}
  {%- endcall %}

</tbody>
</table>

<h2 id="group-4">Group 4: Using element content</h2>
<h3>Form controls: <code>button</code> element</h3>

<table aria-labelledby="group-4">
{{ thead() }}
<tbody>
  {% call(accname) row("button", "Launch balloons", "contents", "button") -%}
    {{ macros.buttonContent(accname) }}
  {%- endcall %}

</tbody>
</table>
{% endblock %}
