{% extends "base.html" %}
{% import "macros-form-labels.html" as macros %}
{% set title = "Examples: Labeling Form Controls Using Native Semantics" %}
{% set label = {
    ref: '<code>label</code> reference',
    enc: '<code>label</code> encapsulation'
  }
%}

{% macro theadRow() -%}
  <tr>
    <th style="width: 30%">Element/Test</th>
    <th style="width: 30%">Expected Results</th>
    <th style="width: 50em">Test Source Code</th>
  </tr>
{%- endmacro %}

{% macro row(element, accname, from, role, id) %}
  <tr>
    <td class="test-box">
      <code class="element">{{ element }}</code>
{{ caller(accname, id) }}
    </td>
    <td>
      <ul>
        <li>ACCNAME: {{ accname }}</li>
        <li>FROM: {{ from }}</li>
        <li>ROLE: {{ role }}</li>
      </ul>
    </td>
    <td>
      <pre class="src">{{ caller(accname, id) | escape }}</pre>
    </td>
  </tr>
{%- endmacro %}

{% block content %}
<h2 id="group-1">Group 1: Using the <code>label</code> element</h2>
<h3>Form controls: <code>input[type="text|file|password|number|range|checkbox|radio"],
textarea, select, meter, output, progress</code></h3>

<table aria-labelledby="group-1">
<thead>
  {{ theadRow() }}
</thead>
<tbody>
  {% call(a, b) row('input[type="text"]', "Phone:", label.ref, "textbox", "c1") -%}
    {{ macros.inputTextRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="text"]', "Phone:", label.enc, "textbox") -%}
    {{ macros.inputTextEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('input[type="file"]', "File to upload:", label.ref, "none", "c2") -%}
    {{ macros.inputFileRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="file"]', "File to upload:", label.enc, "none") -%}
    {{ macros.inputFileEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('input[type="password"]', "Password:", label.ref, "textbox", "c3") -%}
    {{ macros.inputPasswordRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="password"]', "Password:", label.enc, "textbox") -%}
    {{ macros.inputPasswordEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('input[type="number"]', "Commits:", label.ref, "spinbutton", "c4") -%}
    {{ macros.inputNumberRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="number"]', "Commits:", label.enc, "spinbutton") -%}
    {{ macros.inputNumberEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('input[type="range"]', "Saturation:", label.ref, "slider", "c5") -%}
    {{ macros.inputRangeRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="range"]', "Saturation:", label.enc, "slider") -%}
    {{ macros.inputRangeEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('input[type="checkbox"]', "Include library", label.ref, "checkbox", "c6") -%}
    {{ macros.inputCheckboxRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="checkbox"]', "Include library", label.enc, "checkbox") -%}
    {{ macros.inputCheckboxEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('input[type="radio"]', "Four-wheel drive", label.ref, "radio", "c7") -%}
    {{ macros.inputRadioRef(a, b) }}
  {%- endcall %}

  {% call(a) row('input[type="radio"]', "Four-wheel drive", label.enc, "radio") -%}
    {{ macros.inputRadioEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('textarea', "Comment:", label.ref, "textbox", "c8") -%}
    {{ macros.textareaRef(a, b) }}
  {%- endcall %}

  {% call(a) row('textarea', "Comment:", label.enc, "textbox") -%}
    {{ macros.textareaEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('select', "Weather condition:", label.ref, "listbox", "c9") -%}
    {{ macros.selectRef(a, b) }}
  {%- endcall %}

  {% call(a) row('select', "Weather condition:", label.enc, "listbox") -%}
    {{ macros.selectEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('meter', "Level:", label.ref, "progressbar", "c10") -%}
    {{ macros.meterRef(a, b) }}
  {%- endcall %}

  {% call(a) row('meter', "Level:", label.enc, "progressbar") -%}
    {{ macros.meterEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('output', "Result:", label.ref, "status", "c11") -%}
    {{ macros.outputRef(a, b) }}
  {%- endcall %}

  {% call(a) row('output', "Result:", label.enc, "status") -%}
    {{ macros.outputEnc(a) }}
  {%- endcall %}

  {% call(a, b) row('progress', "Percent complete:", label.ref, "progressbar", "c12") -%}
    {{ macros.progressRef(a, b) }}
  {%- endcall %}

  {% call(a) row('progress', "Percent complete:", label.enc, "progressbar") -%}
    {{ macros.progressEnc(a) }}
  {%- endcall %}

</tbody>
</table>

<h2 id="group-2">Group 2: Using the <code>value</code> attribute</h2>
<h3>Form controls: <code>input[type="button|submit|reset"]</code></h3>

<table aria-labelledby="group-2">
<thead>
  {{ theadRow() }}
</thead>
<tbody>
  {% call(a) row('input[type="button"]', "Launch balloons", "<code>value</code>", "button") -%}
    {{ macros.inputButtonVal(a) }}
  {%- endcall %}

  {% call(a) row('input[type="submit"]', "Create account", "<code>value</code>", "button") -%}
    {{ macros.inputSubmitVal(a) }}
  {%- endcall %}

  {% call(a) row('input[type="reset"]', "Reset all fields", "<code>value</code>", "button") -%}
    {{ macros.inputResetVal(a) }}
  {%- endcall %}

</tbody>
</table>

<h2 id="group-3">Group 3: Using the <code>alt</code> attribute</h2>
<h3>Form controls: <code>input[type="image"]</code></h3>

<table aria-labelledby="group-3">
<thead>
  {{ theadRow() }}
</thead>
<tbody>
  {% call(a) row('input[type="image"]', "Launch balloons", "<code>alt</code>", "button") -%}
    {{ macros.inputImageAlt(a) }}
  {%- endcall %}

</tbody>
</table>

<h2 id="group-4">Group 4: Using element content</h2>
<h3>Form controls: <code>button</code> element</h3>

<table aria-labelledby="group-4">
<thead>
  {{ theadRow() }}
</thead>
<tbody>
  {% call(a) row("button", "Launch balloons", "contents", "button") -%}
    {{ macros.buttonContent(a) }}
  {%- endcall %}

</tbody>
</table>
{% endblock %}
