{% extends "base.html" %}
{% import "macros-common.html" as common %}
{% import "macros-input-text.html" as macros %}
{% set title = "Examples: Accessible Name for <code>input[type=text]</code> element" %}

{% block content %}
    <h2>The various techniques for associating an accessible name with <code>input[type=text]</code></h2>

    <table aria-labelledby="test1">
      <thead>
        <tr>
          <th style="width: 25%">Labeling Technique</th>
          <th style="width: 25%">Test</th>
          <th style="width: 25%">Expected Results</th>
          <th style="width: 40em">Test Source Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <li><code>label</code> reference</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextRef("t1", "Phone:") }}
          </td>
          <td>
            {{ common.infoList("Phone:", "label reference", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextRef("t1", "Phone:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td>
            <ul>
              <li><code>label</code> encapsulation</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextEnc("Phone:") }}
          </td>
          <td>
            {{ common.infoList("Phone:", "label encapsulation", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextEnc("Phone:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td>
            <ul>
              <li><code>aria-labelledby</code> attribute</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextAlb("t2", "Phone:") }}
          </td>
          <td>
            {{ common.infoList("Phone:", "aria-labelledby", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextAlb("t2", "Phone:") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td>
            <ul>
              <li><code>aria-label</code> attribute</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextArl("Phone:", "Phone number") }}
          </td>
          <td>
            {{ common.infoList("Phone number", "aria-label", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextArl("Phone:", "Phone number") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td>
            <ul>
              <li><code>placeholder</code> attribute</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextPlh("Phone:", "xxx-xxx-xxxx") }}
          </td>
          <td>
            {{ common.infoList("xxx-xxx-xxxx", "placeholder", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextPlh("Phone:", "xxx-xxx-xxxx") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td>
            <ul>
              <li><code>label</code> reference and <code>placeholder</code> attribute</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextRpl("t3", "Phone:", "xxx-xxx-xxxx") }}
          </td>
          <td>
            {{ common.infoList("Phone:", "label reference", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextRpl("t3", "Phone:", "xxx-xxx-xxxx") | escape }}</pre>
          </td>
        </tr>

        <tr>
          <td>
            <ul>
              <li><code>title</code> attribute</li>
            </ul>
          </td>
          <td class="test-box">
            {{ macros.inputTextTtl("Phone:", "Phone number") }}
          </td>
          <td>
            {{ common.infoList("Phone number", "title", "textbox") }}
          </td>
          <td>
            <pre class="src">{{ macros.inputTextTtl("Phone:", "Phone number") | escape }}</pre>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
