{% extends "base.html" %}
{% import "macros-common.html" as common %}
{% import "macros-form-labels.html" as labels %}
{% import "macros-input-text.html" as macros %}
{% set title = "Examples: Accessible Name for <code>input[type=text]</code> element" %}

{% block content %}
<h2 id="tbltitle">The various techniques for associating an accessible name with <code>input[type=text]</code></h2>

<table aria-labelledby="tbltitle">
<thead>
  {{ common.theadRow() }}
</thead>
<tbody>
  {% call(a, b) common.row('<code>label</code> reference', "Phone:", "label reference", "textbox", id="c1") -%}
    {{ labels.inputTextRef(a, b) }}
  {%- endcall %}

  {% call(a) common.row('<code>label</code> encapsulation', "Phone:", "label encapsulation", "textbox") -%}
    {{ labels.inputTextEnc(a) }}
  {%- endcall %}

  {% call(a, b) common.row('<code>aria-labelledby</code> attribute', "Phone:", "aria-labelledby", "textbox", id="c2") -%}
    {{ macros.inputTextAlb(a, b) }}
  {%- endcall %}

  {% call(a, b) common.row('<code>aria-label</code> attribute', "Phone number", "aria-label", "textbox", "Phone:") -%}
    {{ macros.inputTextArl(a, b) }}
  {%- endcall %}

  {% call(a, b) common.row('<code>placeholder</code> attribute', "xxx-xxx-xxxx", "placeholder", "textbox", "Phone:") -%}
    {{ macros.inputTextPlh(a, b) }}
  {%- endcall %}

  {% call(a, b, c) common.row('<code>label</code> reference and <code>placeholder</code> attribute',
                       "Phone:", "label reference", "textbox", "xxx-xxx-xxxx", "c3") -%}
    {{ macros.inputTextRpl(a, b, c) }}
  {%- endcall %}

  {% call(a, b) common.row('<code>title</code> attribute', "Phone number", "title", "textbox", "Phone:") -%}
    {{ macros.inputTextTtl(a, b) }}
  {%- endcall %}

</tbody>
</table>
{% endblock %}
