{% extends "base.html" %}
{% import "macros-common.html" as common %}
{% import "macros-form-labels.html" as labels %}
{% import "macros-select.html" as macros %}
{% set title = "Examples: Accessible Name for <code>select</code> element" %}

{% block content %}
<h2 id="tbltitle">The various techniques for associating an accessible name with <code>select</code></h2>

<table aria-labelledby="tbltitle">
<thead>
  {{ common.theadRow() }}
</thead>
<tbody>
  {% call(a, b) common.row(common.tech.ref, "Weather condition:", "label reference", "listbox", id="c1") -%}
    {{ labels.selectRef(a, b) }}
  {%- endcall %}

  {% call(a) common.row(common.tech.enc, "Weather condition:", "label encapsulation", "listbox") -%}
    {{ labels.selectEnc(a) }}
  {%- endcall %}

  {% call(a, b) common.row(common.tech.alb, "Weather condition:", "aria-labelledby", "listbox", id="c2") -%}
    {{ macros.selectAlb(a, b) }}
  {%- endcall %}

  {% call(a, b) common.row(common.tech.arl, "Current weather condition", "aria-label", "listbox", "Weather condition:") -%}
    {{ macros.selectArl(a, b) }}
  {%- endcall %}

  {% call(a, b) common.row(common.tech.ttl, "Current weather condition", "title", "listbox", "Weather condition:") -%}
    {{ macros.selectTtl(a, b) }}
  {%- endcall %}

</tbody>
</table>
{% endblock %}
